<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.chilloutmusicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlbumsListActivity"
            android:label="@string/title_activity_albums_list" />
        <activity
            android:name=".AlbumInfoActivity"
            android:label="@string/title_activity_album_info" />
        <activity
            android:name=".TopSongsActivity"
            android:label="@string/title_activity_top_songs" />
        <activity
            android:name=".NowPlayingActivity"
            android:label="@string/title_activity_now_playing" />
    </application>

</manifest>